.services{
position:relative;
	background: url(img/images.jpg) no-repeat;
	 background-size: 100%;
	height:60vh;
}
.services .container div {
position: absolute;
	top:50%;
	transform: translate(0,-50%);
		font-family: 'Prompt', sans-serif;
		color:white;}
.services .container div h1{
	font-size: 80px;
}
.services .container div p{
	font-size: 40px;
}
.serv1 div{
	border:1px solid #D2D2D2;
	text-align: center;
	padding:20px;
	margin:20px;
}
.serv1 div a h3{
	color:black;
	transition-duration: 1s;
			font-family: 'Prompt', sans-serif;
}
.serv1 div a h3:hover{
	color:#96ca2d;
}
.serv{
	padding-top: 3em;
	padding-bottom: 3em;
	
}
.ss{
	background: #fff;
}
.serv1 div:hover{
	border:1px solid grey;
	transition-duration: 1s; 
}
.serv1 {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.serv1 div p{
	color:grey;
}
body{
	background: url(../img/img-4.jpg) repeat;
	 background-size: 100%;
}
footer{
	background:white;
	padding-top: 1em;
}
.servlast{
	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;
	color:white;
		background: rgba(0,0,0,0.3);
}
.servlast h1{
	font-size: 80px;
	font-family: 'Prompt', sans-serif;

}
.servlast p{
	font-size: 20px;
}
@media screen and (max-width: 991px) {
.services{
	height:40vh;
}
.services .container div h1{
	font-size: 50px;
}
.services .container div p{
	font-size: 20px;
}
.serv1 div{
	padding:10px;
	margin:10px;
}
.servlast h1{
	font-size: 50px;

}}
@media screen and (max-width: 768px) {
.services{
	height:30vh;
}
.services .container div h1{
	font-size: 30px;
}
.services .container div p{
	font-size: 18px;
}

.servlast h1{
	font-size: 30px;
}
.serv1 div{
	width:33%;
	margin:0;
	padding: 5px;
}
.serv1 div a h3{
font-size: 18px;
}
.serv1 div p{
	font-size: 14px;
}
}
